<section class="container mx-auto p-5 columns has-background-white min-h-100  ">
  <div class="mx-auto pt-5 mt-5">
    <%= render 'form', user: @user %>

    <%= link_to 'New here? Sign Up', new_user_path, class: 'button is-ghost w-100' %>
  </div>
</section>