<section class="container mx-auto p-5 columns">
  <div class="mx-auto">
    <h1 class='title'>Write Article</h1>

    <%= render 'form', article: @article %>

    <%= link_to 'Discard', root_path, class:'button w-100 is-danger is-inverted' %>
  </div>
</section>