<nav class="navbar footer" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <h1 class="title is-5"><b class="has-text-white">WORLD</b> <b class="orange-text">UNITE</b></h1>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Privacy Policy' , root_path, class: 'navbar-item orange-text' %>

      <%= link_to 'Terms & Conditions' , root_path, class: 'navbar-item orange-text' %>

      <p class="navbar-item has-text-white">Copyright 2021. All rights reserved.</p>
    </div>

    <div class="navbar-end">
      <p class="navbar-item has-text-white">Connect with us:</p>

    </div>
  </div>
</nav>