<%= render 'most_voted_article' %>

  <div class='columns'>
    <% @categories.sort_by_priority.each do |category| %>
      <div class='column bg-img' 
        <% if category.articles.first %>
          style="
                background: url('<%= rails_blob_url(category.articles.first.image) %>'),
                linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 80%);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-blend-mode: color-burn;
                " 
        <% else %>
          style="background: #332f2d"
        <% end %>
        >
        <div class='p-4'>
          <div class='index-category-container'>
            <p><%= link_to category.name, category_path(category) %></p>
            <% if category.articles.first %>
              <p class="is-capitalized"><%= category.articles.first.title %></p>
            <% else %>
              <p>No Articles found</p>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
  </div>